In [14]:
print("hello")

hello

In [15]:
import numpy as np
import pandas as pd

In [16]:
supermarkets = pd.read_csv('Zurich_supermarkets2.csv', engine='python')
#supermarkets['PLZ']=[None]
supermarkets = supermarkets.drop_duplicates()
supermarkets

,Name,coordinates,Adress,Rating,Total Users Rates
0,Coop Pronto Shop,"{'location': {'lat': 47.386432, 'lng': 8.51762...","Hardstrasse 221, 8005 Zürich",3.9,98
1,Coop Supermarkt Zürich Maagplatz,"{'location': {'lat': 47.3859637, 'lng': 8.5161...","Maagpl. 1, 8005 Zürich",4.0,53
2,Coop Supermarkt Zürich Josefstrasse,"{'location': {'lat': 47.3847681, 'lng': 8.5271...","Röntgenstrasse 48, 8005 Zürich",4.0,149
3,Coop Supermarkt Pfingstweidstrasse Prime 2,"{'location': {'lat': 47.3876058, 'lng': 8.5160...","Maschinenstrasse 10, 8005 Zürich",5.0,3
4,migrolino fresh,"{'location': {'lat': 47.3798155, 'lng': 8.5279...","Langstrasse 134, 8004 Zürich",3.9,67
...,...,...,...,...,...
536,Migros Supermarkt,"{'location': {'lat': 47.3376178, 'lng': 8.5764...","Rotfluhstrasse 100, 8702 Zollikon",4.3,117
538,Migros,"{'location': {'lat': 47.3706194, 'lng': 8.6388...",8117 Fällanden,0.0,0
539,migrolino Shop,"{'location': {'lat': 47.3673977, 'lng': 8.4943...","Birmensdorferstrasse 517, 8055 Zürich",4.5,17
550,Migros,"{'location': {'lat': 47.3684203, 'lng': 8.4628...","Zürcherstrasse 8, 8142 Uitikon",4.2,111
554,Coop Supermarkt Uitikon Waldegg,"{'location': {'lat': 47.3681268, 'lng': 8.4622...","Zürcherstrasse 1, 8142 Uitikon",4.6,58

In [17]:
# get PLZ (postcode)into a new column. Help from Cassandra

def PLZ_extract(address):
    
    try:
        comma_position = address.find(",")
        if comma_position == -1:
            PLZ = address[0:4]
        else: 
            PLZ = address[comma_position+2:comma_position+6]

        if PLZ.isdigit() == False:
            address = address[comma_position+1:]
            PLZ = PLZ_extract(address)
            return PLZ
        else: 
            return PLZ
    except Exception:
        PLZ = "somethin went wrong: " + str(Exception)
        return PLZ
supermarkets["PLZ"] = supermarkets['Adress'].apply(lambda x: PLZ_extract(x))    

supermarkets

,Name,coordinates,Adress,Rating,Total Users Rates,PLZ
0,Coop Pronto Shop,"{'location': {'lat': 47.386432, 'lng': 8.51762...","Hardstrasse 221, 8005 Zürich",3.9,98,8005
1,Coop Supermarkt Zürich Maagplatz,"{'location': {'lat': 47.3859637, 'lng': 8.5161...","Maagpl. 1, 8005 Zürich",4.0,53,8005
2,Coop Supermarkt Zürich Josefstrasse,"{'location': {'lat': 47.3847681, 'lng': 8.5271...","Röntgenstrasse 48, 8005 Zürich",4.0,149,8005
3,Coop Supermarkt Pfingstweidstrasse Prime 2,"{'location': {'lat': 47.3876058, 'lng': 8.5160...","Maschinenstrasse 10, 8005 Zürich",5.0,3,8005
4,migrolino fresh,"{'location': {'lat': 47.3798155, 'lng': 8.5279...","Langstrasse 134, 8004 Zürich",3.9,67,8004
...,...,...,...,...,...,...
536,Migros Supermarkt,"{'location': {'lat': 47.3376178, 'lng': 8.5764...","Rotfluhstrasse 100, 8702 Zollikon",4.3,117,8702
538,Migros,"{'location': {'lat': 47.3706194, 'lng': 8.6388...",8117 Fällanden,0.0,0,8117
539,migrolino Shop,"{'location': {'lat': 47.3673977, 'lng': 8.4943...","Birmensdorferstrasse 517, 8055 Zürich",4.5,17,8055
550,Migros,"{'location': {'lat': 47.3684203, 'lng': 8.4628...","Zürcherstrasse 8, 8142 Uitikon",4.2,111,8142
554,Coop Supermarkt Uitikon Waldegg,"{'location': {'lat': 47.3681268, 'lng': 8.4622...","Zürcherstrasse 1, 8142 Uitikon",4.6,58,8142

In [18]:
print(supermarkets[supermarkets["PLZ"] == "somethin went wrong: <class 'Exception'>"])

Empty DataFrame
Columns: [Name, coordinates, Adress, Rating, Total Users Rates, PLZ]
Index: []

In [19]:
# decide if a supermarket is Migros as names have some variability
def check_migros(name):
    if name.lower().find("migro")==-1:
        return 0
    else:
        return 1
    
supermarkets["Migros"] = supermarkets['Name'].apply(lambda x: check_migros(x))    

supermarkets

,Name,coordinates,Adress,Rating,Total Users Rates,PLZ,Migros
0,Coop Pronto Shop,"{'location': {'lat': 47.386432, 'lng': 8.51762...","Hardstrasse 221, 8005 Zürich",3.9,98,8005,0
1,Coop Supermarkt Zürich Maagplatz,"{'location': {'lat': 47.3859637, 'lng': 8.5161...","Maagpl. 1, 8005 Zürich",4.0,53,8005,0
2,Coop Supermarkt Zürich Josefstrasse,"{'location': {'lat': 47.3847681, 'lng': 8.5271...","Röntgenstrasse 48, 8005 Zürich",4.0,149,8005,0
3,Coop Supermarkt Pfingstweidstrasse Prime 2,"{'location': {'lat': 47.3876058, 'lng': 8.5160...","Maschinenstrasse 10, 8005 Zürich",5.0,3,8005,0
4,migrolino fresh,"{'location': {'lat': 47.3798155, 'lng': 8.5279...","Langstrasse 134, 8004 Zürich",3.9,67,8004,1
...,...,...,...,...,...,...,...
536,Migros Supermarkt,"{'location': {'lat': 47.3376178, 'lng': 8.5764...","Rotfluhstrasse 100, 8702 Zollikon",4.3,117,8702,1
538,Migros,"{'location': {'lat': 47.3706194, 'lng': 8.6388...",8117 Fällanden,0.0,0,8117,1
539,migrolino Shop,"{'location': {'lat': 47.3673977, 'lng': 8.4943...","Birmensdorferstrasse 517, 8055 Zürich",4.5,17,8055,1
550,Migros,"{'location': {'lat': 47.3684203, 'lng': 8.4628...","Zürcherstrasse 8, 8142 Uitikon",4.2,111,8142,1
554,Coop Supermarkt Uitikon Waldegg,"{'location': {'lat': 47.3681268, 'lng': 8.4622...","Zürcherstrasse 1, 8142 Uitikon",4.6,58,8142,0

In [21]:
# pivot by PLZ and count migros supermarkets
migros_count = supermarkets.groupby('PLZ').agg(num_migros = ('Migros', 'sum'))
migros_count

# pivot by PLZ and count all supermarkets
all_supermarket_count= supermarkets.groupby('PLZ').agg(num_all = ('Migros', 'count'))
all_supermarket_count

# merge two tables
supermarket_count = pd.merge(all_supermarket_count, migros_count, left_on = 'PLZ', right_on = 'PLZ')

#PLZ_subset = ["8001", "8003", "8004", "8005", "8008", "8021", "8032", "8037", 
#              "8045", "8046", "8048", "8050", "8051", "8052", "8055", "8057"]
#PLZ_subset  = pd.DataFrame(PLZ_subset)
#PLZ_subset.columns = ["PLZ"]
#print(PLZ_subset)

# Couldn't subset, so used merge
# supermarket_count = supermarket_count[supermarket_count['PLZ'] == PLZ_subset]
#supermarket_count = pd.merge(PLZ_subset, supermarket_count, left_on = 'PLZ', right_on = 'PLZ')

# supermarket_count.set_index("PLZ")
supermarket_count

      num_all  num_migros
PLZ
5400        1           0
8001       26           6
8002        6           3
8003        9           1
8004       26           6
8005       21           5
8006        9           1
8008       11           5
8021        2           0
8032        9           0
8037        5           1
8038        6           1
8041        4           2
8044        5           1
8045       10           1
8046       11           3
8047       11           3
8048       21           4
8049        7           1
8050       20           1
8051       13           1
8052        8           2
8053        6           1
8055        6           3
8057        6           1
8066        2           0
8093        1           0
8112        1           0
8117        1           1
8121        1           0
8125        2           0
8134        3           1
8136        1           0
8142        2           1
8152        9           4
8184        1           0
8302        2           0
8304        5           2
8305        1           0
8406        1           0
8600        2           1
8604        1           0
8610        1           1
8640        1           0
8702        1           1
8708        1           1
8802        2           0
8803        1           0
8832        1           1
8957        1           0

In [22]:
supermarket_count.sum(axis =0).astype(int)

num_all       304
num_migros     67
dtype: int32

In [67]:
pop = pd.read_csv('bevoelkerung_proplz_simplified.csv', engine='python')
pop

       PLZ    POP                                          NAME
0     1000   3715  Lausanne/Lausanne 25/Lausanne 26/Lausanne 27
1     1003  10958                                      Lausanne
2     1004  43619                                      Lausanne
3     1005  17475                                      Lausanne
4     1006  21716                                      Lausanne
...    ...    ...                                           ...
3178  9652    853                                Neu St. Johann
3179  9655    443                                      Stein SG
3180  9656    881                                Alt St. Johann
3181  9657   1087                                   Unterwasser
3182  9658   2320                                      Wildhaus

[3183 rows x 3 columns]

In [68]:
# last line: 
type(pop.loc[3182,"PLZ"])

numpy.int64

In [75]:
try: 
    #throws an error if column has already removed
    pop = pop.drop(["Unnamed: 3"], axis = 1)
except:
    pass
pop = pop.dropna()
pop

       PLZ    POP                                          NAME
0     1000   3715  Lausanne/Lausanne 25/Lausanne 26/Lausanne 27
1     1003  10958                                      Lausanne
2     1004  43619                                      Lausanne
3     1005  17475                                      Lausanne
4     1006  21716                                      Lausanne
...    ...    ...                                           ...
3178  9652    853                                Neu St. Johann
3179  9655    443                                      Stein SG
3180  9656    881                                Alt St. Johann
3181  9657   1087                                   Unterwasser
3182  9658   2320                                      Wildhaus

[3183 rows x 3 columns]

In [70]:
# force PLZ to write format. Tring .as .,string didn't work
def format_PLZ(PLZ):
    PLZ = PLZ[0:4]
    return PLZ
        
pop["PLZ"] = pop['PLZ'].apply(lambda x: format_PLZ(x))    

pop

#old stuff, which didnt work
#pop["PLZ"] = pop["PLZ"].astype(float)
#pop["PLZ"] = pop["PLZ"].round(0)
# pop["PLZ"] = pop["PLZ"].astype(str)
#pop["POP"] = pop["POP"].astype(int)
#pop

TypeError: 'int' object is not subscriptable

In [71]:

#old stuff, which didnt work
#pop["PLZ"] = pop["PLZ"].astype(float)
#pop["PLZ"] = pop["PLZ"].round(0)
pop["PLZ"] = pop["PLZ"].astype(str)
pop["POP"] = pop["POP"].astype(int)
pop

       PLZ    POP                                          NAME
0     1000   3715  Lausanne/Lausanne 25/Lausanne 26/Lausanne 27
1     1003  10958                                      Lausanne
2     1004  43619                                      Lausanne
3     1005  17475                                      Lausanne
4     1006  21716                                      Lausanne
...    ...    ...                                           ...
3178  9652    853                                Neu St. Johann
3179  9655    443                                      Stein SG
3180  9656    881                                Alt St. Johann
3181  9657   1087                                   Unterwasser
3182  9658   2320                                      Wildhaus

[3183 rows x 3 columns]

In [72]:
supermarket_pop = pd.merge(supermarket_count, pop, how = "left", left_on= "PLZ", right_on= "PLZ")
supermarket_pop
# supermarket_pop["POP"] = supermarket_pop["POP"].astype(int) # skip this for now. see if NaN in 8021 causes issue...

,PLZ,num_all,num_migros,POP,NAME
0,5400,1,0,16392.0,Baden
1,8001,26,6,11526.0,Zurich: Kreis 1 - City
2,8002,6,3,13228.0,Zurich: Kreis 2 - Enge
3,8003,9,1,23749.0,Zurich: Kreis 3 - Alt-Weidikon
4,8004,26,6,34014.0,Zurich: Kreis 4
5,8005,21,5,20169.0,Zurich: Kreis 5
6,8006,9,1,21476.0,Zurich: Kreis 6 - Ober/Unterstrasse
7,8008,11,5,23410.0,Zurich: Kreis 8 - Seefeld
8,8021,2,0,NaN,NaN
9,8032,9,0,23402.0,Zurich: Hirslanden/ Hottingen
10,8037,5,1,17998.0,Zurich: Wipkingen
11,8038,6,1,18137.0,Zurich: Wollishofen
12,8041,4,2,7649.0,Zurich: Leimbach
13,8044,5,1,12900.0,Gockhausen/Zurich
14,8045,10,1,13315.0,Zurich: Alt-Wiedikon/ Friesenberg
15,8046,11,3,28690.0,Zurich: Affoltern
16,8047,11,3,23685.0,Zurich: Albisrieden
17,8048,21,4,33933.0,Zurich: Altstetten
18,8049,7,1,27167.0,Zurich: Höngg
19,8050,20,1,33902.0,Zurich: Oerlikon
20,8051,13,1,26059.0,Zurich: Hirzenbach/ Schwamendingen-Mitte
21,8052,8,2,22909.0,Zurich: Seebach
22,8053,6,1,12452.0,Zurich: Witikon
23,8055,6,3,21971.0,Zurich: Friesenberg
24,8057,6,1,24352.0,Zurich: Unterstrass/ Oerlikon
25,8066,2,0,NaN,NaN
26,8093,1,0,NaN,NaN
27,8112,1,0,3272.0,Otelfingen
28,8117,1,1,5254.0,FÃ¤llanden
29,8121,1,0,2378.0,Benglen
30,8125,2,0,5950.0,Zollikerberg
31,8134,3,1,21455.0,Adliswil
32,8136,1,0,2916.0,Gattikon
33,8142,2,1,5306.0,Uitikon Waldegg
34,8152,9,4,23523.0,Glattpark(Opfikon)/Glattbrugg/Opfikon
35,8184,1,0,4547.0,BachenbÃ¼lach
36,8302,2,0,23113.0,Kloten
37,8304,5,2,20472.0,Wallisellen
38,8305,1,0,8668.0,Dietlikon
39,8406,1,0,16016.0,Winterthur
40,8600,2,1,30008.0,DÃ¼bendorf
41,8604,1,0,18763.0,Volketswil
42,8610,1,1,34091.0,Uster
43,8640,1,0,10333.0,Rapperswil SG/Hurden
44,8702,1,1,9480.0,Zollikon
45,8708,1,1,12855.0,MÃ¤nnedorf
46,8802,2,0,10136.0,Kilchberg ZH
47,8803,1,0,7379.0,RÃ¼schlikon
48,8832,1,1,12414.0,Wollerau/Wilen b. Wollerau
49,8957,1,0,12703.0,Spreitenbach

In [78]:
PLZ_subset = ["8021", "8032", "8037", "8038", "8040", # "8001", "8002", "8003", "8004", "8005", "8006", "8008", 
                  "8041", "8044", "8045", "8046", "8047", "8048",  "8049", "8050", "8051", "8052", "8053", "8055", "8057"]


supermarket_pop_zh = supermarket_pop.loc[supermarket_pop["PLZ"].isin(PLZ_subset)]
supermarket_pop_zh = supermarket_pop_zh.dropna() 
supermarket_pop_zh = supermarket_pop_zh.reset_index() 
    
supermarket_pop_zh

,index,PLZ,num_all,num_migros,POP,NAME
0,9,8032,9,0,23402.0,Zurich: Hirslanden/ Hottingen
1,10,8037,5,1,17998.0,Zurich: Wipkingen
2,11,8038,6,1,18137.0,Zurich: Wollishofen
3,12,8041,4,2,7649.0,Zurich: Leimbach
4,13,8044,5,1,12900.0,Gockhausen/Zurich
5,14,8045,10,1,13315.0,Zurich: Alt-Wiedikon/ Friesenberg
6,15,8046,11,3,28690.0,Zurich: Affoltern
7,16,8047,11,3,23685.0,Zurich: Albisrieden
8,17,8048,21,4,33933.0,Zurich: Altstetten
9,18,8049,7,1,27167.0,Zurich: Höngg
10,19,8050,20,1,33902.0,Zurich: Oerlikon
11,20,8051,13,1,26059.0,Zurich: Hirzenbach/ Schwamendingen-Mitte
12,21,8052,8,2,22909.0,Zurich: Seebach
13,22,8053,6,1,12452.0,Zurich: Witikon
14,23,8055,6,3,21971.0,Zurich: Friesenberg
15,24,8057,6,1,24352.0,Zurich: Unterstrass/ Oerlikon

In [79]:
supermarket_pop_markt_zh = supermarket_pop_zh.copy()
supermarket_pop_markt_zh["Pop_per_store"] = supermarket_pop_markt_zh["POP"] / supermarket_pop_markt_zh["num_all"]
supermarket_pop_markt_zh = supermarket_pop_markt_zh.sort_values("Pop_per_store", ascending = False)
supermarket_pop_markt_zh["Pop_per_store"] = supermarket_pop_markt_zh["Pop_per_store"].round(0)
supermarket_pop_markt_zh

,index,PLZ,num_all,num_migros,POP,NAME,Pop_per_store
15,24,8057,6,1,24352.0,Zurich: Unterstrass/ Oerlikon,4059.0
9,18,8049,7,1,27167.0,Zurich: Höngg,3881.0
14,23,8055,6,3,21971.0,Zurich: Friesenberg,3662.0
1,10,8037,5,1,17998.0,Zurich: Wipkingen,3600.0
2,11,8038,6,1,18137.0,Zurich: Wollishofen,3023.0
12,21,8052,8,2,22909.0,Zurich: Seebach,2864.0
6,15,8046,11,3,28690.0,Zurich: Affoltern,2608.0
0,9,8032,9,0,23402.0,Zurich: Hirslanden/ Hottingen,2600.0
4,13,8044,5,1,12900.0,Gockhausen/Zurich,2580.0
7,16,8047,11,3,23685.0,Zurich: Albisrieden,2153.0
13,22,8053,6,1,12452.0,Zurich: Witikon,2075.0
11,20,8051,13,1,26059.0,Zurich: Hirzenbach/ Schwamendingen-Mitte,2005.0
3,12,8041,4,2,7649.0,Zurich: Leimbach,1912.0
10,19,8050,20,1,33902.0,Zurich: Oerlikon,1695.0
8,17,8048,21,4,33933.0,Zurich: Altstetten,1616.0
5,14,8045,10,1,13315.0,Zurich: Alt-Wiedikon/ Friesenberg,1332.0

In [81]:
supermarket_pop_markt = supermarket_pop.copy()
supermarket_pop_markt["Pop_per_store"] = supermarket_pop_markt["POP"] / supermarket_pop_markt["num_all"]
supermarket_pop_markt = supermarket_pop_markt.sort_values("Pop_per_store", ascending = False)
supermarket_pop_markt["Pop_per_store"] = supermarket_pop_markt["Pop_per_store"].round(0)
supermarket_pop_markt

,PLZ,num_all,num_migros,POP,NAME,Pop_per_store
42,8610,1,1,34091.0,Uster,34091.0
41,8604,1,0,18763.0,Volketswil,18763.0
0,5400,1,0,16392.0,Baden,16392.0
39,8406,1,0,16016.0,Winterthur,16016.0
40,8600,2,1,30008.0,DÃ¼bendorf,15004.0
45,8708,1,1,12855.0,MÃ¤nnedorf,12855.0
49,8957,1,0,12703.0,Spreitenbach,12703.0
48,8832,1,1,12414.0,Wollerau/Wilen b. Wollerau,12414.0
36,8302,2,0,23113.0,Kloten,11556.0
43,8640,1,0,10333.0,Rapperswil SG/Hurden,10333.0
44,8702,1,1,9480.0,Zollikon,9480.0
38,8305,1,0,8668.0,Dietlikon,8668.0
47,8803,1,0,7379.0,RÃ¼schlikon,7379.0
31,8134,3,1,21455.0,Adliswil,7152.0
28,8117,1,1,5254.0,FÃ¤llanden,5254.0
46,8802,2,0,10136.0,Kilchberg ZH,5068.0
35,8184,1,0,4547.0,BachenbÃ¼lach,4547.0
37,8304,5,2,20472.0,Wallisellen,4094.0
24,8057,6,1,24352.0,Zurich: Unterstrass/ Oerlikon,4059.0
18,8049,7,1,27167.0,Zurich: Höngg,3881.0
23,8055,6,3,21971.0,Zurich: Friesenberg,3662.0
10,8037,5,1,17998.0,Zurich: Wipkingen,3600.0
27,8112,1,0,3272.0,Otelfingen,3272.0
11,8038,6,1,18137.0,Zurich: Wollishofen,3023.0
30,8125,2,0,5950.0,Zollikerberg,2975.0
32,8136,1,0,2916.0,Gattikon,2916.0
21,8052,8,2,22909.0,Zurich: Seebach,2864.0
33,8142,2,1,5306.0,Uitikon Waldegg,2653.0
3,8003,9,1,23749.0,Zurich: Kreis 3 - Alt-Weidikon,2639.0
34,8152,9,4,23523.0,Glattpark(Opfikon)/Glattbrugg/Opfikon,2614.0
15,8046,11,3,28690.0,Zurich: Affoltern,2608.0
9,8032,9,0,23402.0,Zurich: Hirslanden/ Hottingen,2600.0
13,8044,5,1,12900.0,Gockhausen/Zurich,2580.0
6,8006,9,1,21476.0,Zurich: Kreis 6 - Ober/Unterstrasse,2386.0
29,8121,1,0,2378.0,Benglen,2378.0
2,8002,6,3,13228.0,Zurich: Kreis 2 - Enge,2205.0
16,8047,11,3,23685.0,Zurich: Albisrieden,2153.0
7,8008,11,5,23410.0,Zurich: Kreis 8 - Seefeld,2128.0
22,8053,6,1,12452.0,Zurich: Witikon,2075.0
20,8051,13,1,26059.0,Zurich: Hirzenbach/ Schwamendingen-Mitte,2005.0
12,8041,4,2,7649.0,Zurich: Leimbach,1912.0
19,8050,20,1,33902.0,Zurich: Oerlikon,1695.0
17,8048,21,4,33933.0,Zurich: Altstetten,1616.0
14,8045,10,1,13315.0,Zurich: Alt-Wiedikon/ Friesenberg,1332.0
4,8004,26,6,34014.0,Zurich: Kreis 4,1308.0
5,8005,21,5,20169.0,Zurich: Kreis 5,960.0
1,8001,26,6,11526.0,Zurich: Kreis 1 - City,443.0
8,8021,2,0,NaN,NaN,NaN
25,8066,2,0,NaN,NaN,NaN
26,8093,1,0,NaN,NaN,NaN

In [94]:
supermarket_pop_consol = supermarket_pop.groupby("NAME").agg(num_all = ("num_all", "sum"), 
                                                            num_migros = ("num_migros", "sum"), 
                                                            POP = ("POP", "sum"))

supermarket_pop_consol["Pop_per_market"] = supermarket_pop_consol["POP"] / supermarket_pop_consol["num_all"]
supermarket_pop_consol = supermarket_pop_consol.sort_values("Pop_per_market", ascending = False)
supermarket_pop_consol["Pop_per_market"] = supermarket_pop_consol["Pop_per_market"].round(0)

supermarket_pop_consol

,num_all,num_migros,POP,Pop_per_market
NAME,,,,
Uster,1,1,34091.0,34091.0
Volketswil,1,0,18763.0,18763.0
Baden,1,0,16392.0,16392.0
Winterthur,1,0,16016.0,16016.0
Dübendorf,2,1,30008.0,15004.0
Männedorf,1,1,12855.0,12855.0
Spreitenbach,1,0,12703.0,12703.0
Wollerau/Wilen b. Wollerau,1,1,12414.0,12414.0
Kloten,2,0,23113.0,11556.0
Rapperswil SG/Hurden,1,0,10333.0,10333.0
Zollikon,1,1,9480.0,9480.0
Dietlikon,1,0,8668.0,8668.0
Rüschlikon,1,0,7379.0,7379.0
Adliswil,3,1,21455.0,7152.0
Fällanden,1,1,5254.0,5254.0
Kilchberg ZH,2,0,10136.0,5068.0
Bachenbülach,1,0,4547.0,4547.0
Wallisellen,5,2,20472.0,4094.0
Otelfingen,1,0,3272.0,3272.0
Zollikerberg,2,0,5950.0,2975.0
Gattikon,1,0,2916.0,2916.0
Uitikon Waldegg,2,1,5306.0,2653.0
Glattpark(Opfikon)/Glattbrugg/Opfikon,9,4,23523.0,2614.0
Gockhausen/Zürich,5,1,12900.0,2580.0
Benglen,1,0,2378.0,2378.0
Zürich,251,52,483193.0,1925.0